<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @java_dynamic_row.name %>
</p>


<%= link_to 'Edit', edit_java_dynamic_row_path(@java_dynamic_row) %> |
<%= link_to 'Back', java_dynamic_rows_path %>
